{% extends "main/main.html" %}

{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static 'css/introduce.css' %}">
{% endblock static %}

{% block title %}
<title>소개</title>
{% endblock title %}

{% block content %}

</head>
<body>
    <div class="introduce_wrapper">
        <div class="title">
            ACT PROJECT
        </div>
        <div>
            <p class = comment_1>
                ACT는 뭐하는 사이트인가요?
                <div class = comment_image_1>
                    <img src = "./image/검색결과.PNG">
                    <p>ppdnpidfneifopenfp</p>
                </div>
            </p>
            <p class = comment_2>
                ACT는 어떻게 써야 하나요?
                <div class = comment_image_2>
                    <img src ="./image/검색결과.PNG">
                    <p>설명</p>
                </div>
            </p>
        </div>
        <div class = search_button>
            <button><a href="{% url 'main:main' %}">지금 검색하기</a></button> 
        </div>
    </div>
</body>
</html>
{% endblock content %}