{% extends "main/main.html" %}

{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static 'css/introduce.css' %}">
{% endblock static %}

{% block title %}
<title>소개</title>
{% endblock title %}

{% block content %}
<div>
    <div class="home section">
        <h1>Predicup</h1>
        <p>음악 예측 사이트</p>
    </div>
    <div class="video section">
        <video src="/static/video/tiktok.mp4" muted autoplay loop></video>
    </div>
    <div class="introduce section">
        <h1>Predicup은 무엇을 하는 사이트인가요?</h1>
        <p>4개의 분석모델을 통해 '틱톡에서 인기있는 노래가 빌보드에 진입할 수 있을지 없을지'를 분석합니다.</p>
    </div>
    <div class="model section">
        <div class="title">
            <h1>
                Predicup의 모델 분석요소는 무엇인가요?
            </h1>
        </div>
        <div class="slider desktop">
            <div class="item">
                <p>
                    ACT의 첫 번째 분석과제는 스포티파이의 feature와 함께 logistic regression으로 연관성이 높게 잡힌 여러 특징을 label하여 분석한 분류과제입니다.
                    최근 틱톡에서 인기있던 900곡과 그 중 빌보드에 진입한 약 450곡을 분류하여 knn, rforest, svm 등으로 분류 후 
                    이를 soft voting하여 최종 모델을 만들었습니다.
                </p>
            </div>
            <div class="item">
                <p>
                    ACT의 두 번째 분석과제는 유튜브 1주일간의 변화량을 통한 트렌드 분석입니다.
                    최근 틱톡에서 인기있는 곡들의 1주일간 조회수, 좋아요수, 댓글수를 수집하고 그 다음 주에 빌보드 진입에 성공했는지를 분류한 모델입니다.
                    이를 통해 트렌드만 따졌을 때 당장 다음 주에 빌보드에 진입할 가능성이 있는지를 파악합니다.
                    이 과제는 이슈들을 수집해 knn과 svm으로 stacking하여 최종 모델을 만들었습니다.
                    직접적인 데이터 수집 알고리즘을 짜기에는 시간 한계가 있어 playboard 사이트를 이용했습니다.
                    다만 이 사이트를 무료로 수집하다보니 일일 트래픽제한과 수집시간에 제약이 생겼습니다.
                </p>
            </div>
            <div class="item">
                <p>
                    ACT의 세 번째 분석과제는 음원 분석입니다.
                    음원을 end to end 방식으로 스포티파이에서 후렴구 30초를 가져와(30초보다 짧은 경우 전곡) melspectrogram을 만들고
                    이를 직접 분류해 lstm으로 학습한 모델입니다.
                    이 모델 결과가 틀렸을 경우 클라이언트에게 수정사항을 받아 더 학습하게끔 했습니다.
                </p>
            </div>
            <div class="item">
                <p>
                    ACT의 네 번째 분석과제 역시 음원 분석입니다.
                    음원을 모든 곡, 4개의 stem으로 나누어 (bass, drums, vocals, other), 'stfm, ampptude_to_db, 
                    zero_crossings, harmonic, perc, spectral_centroid, spectral_bandwidth, spectral_rolloff,
                    rms, chromagram, MFCC, 등 24개의 vector를 만들고
                    각각 따로따로 lstm으로 학습하여 모델을 만들고 이중 accuracy가 높은 vector들만 종합 해 soft voting하여 만든 모델입니다.
                    총 67개의 model을 이용했는데 결과가 아주 높은편이지만, 곡을 뽑아 전처리하는 과정이 aws서버의 메모리가 감당할 수 없고,
                    시간 역시 오래걸려 일단 서비스에서는 제거했습니다만,
                    향후 좋은 서버로 옮기고 클라이언트가 원할 경우 분석 후 메일로 보내는 방식을 개발예정에 있습니다.
                </p>
            </div>
        </div>
        <div class="slider mobile">
            <div class="item">
                <p>첫번째, 스포티파이 API를 활용한 feature 분석</p>
            </div>
            <div class="item">
                <p>두번째, 일주일간의 유튜브 댓글수, 좋아요수, 조회수 변화량을 통한 트렌드 분석</p>
            </div>
            <div class="item">
                <p>세번째, 노래 자체의 음원 분석</p>
            </div>

        </div>
        <div class="buttonSection">
            <button id="left">
                <p>&lt&lt<p>
            </button>
            <button id="right">
                <p>&gt&gt<p>
            </button>
        </div>
    </div>
</div>

<script src="/static/js/introduce.js"></script>
{% endblock content %}