{% extends "main/main.html" %}

{% block static %}
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block title %}
<title>로그인</title>
{% endblock %}

{% block content %}
<div class="login_wrapper">
    <header>
        <h1>로그인</h1>
    </header>
    <form method="post" action="/signin/">
        {% csrf_token %}
        <div class="email">
            <h1>Email</h1>
            <input id="email" type="text" placeholder="Email">
            <p></p>
        </div>
        <div class="password">
            <h1>Password</h1>
            <input id="password" type="password" placeholder="Password">
            <p></p>
        </div>
        <button id="LoginButton">로그인</button>
    </form>
</div>
{% endblock %}