{% extends "main/main.html" %}

{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock static %}

{% block content %}
<div class="wrapper">
    
    <div class="searchResult">
        <span>-{{search_bar_category}}-</span>
        <h1>{{search}}의 검색결과입니다.</h1>
    </div>
    {% if state == 0 %}
    <div class="container">
        <div class="inner">
            <h1>검색 결과가 없습니다.</h1>
        </div>
    </div>
    {% else %}
    {% for data in spotipyDatas.tracks.items %}

    <div class="container">
        <div class="inner">
            <div class="number">
                <span>{{ forloop.counter }}</span>
            </div>

            <div class="image">
                <a href="{% url 'main:result' data.id %}">
                    <img src="{{data.album.images.1.url}}">
                </a>
            </div>
            <div class="content">
                <div>
                    <a href="{% url 'main:result' data.id %}">
                        <span id="title">{{ data.album.name }}</span>
                    </a>
                </div>
                <div>
                    <span id="artist">{{ data.album.artists.0.name }}</span>
                </div>
                <div>
                    <span></span>
                </div>
            </div>
        </div>

        <div class="heart">
            🧡🤍
        </div>
    </div>
    {% endfor %}
    <div class="center_lr">
        {% endif %}
        {% if offset == 0 %}
        <div class="lr_bar">
            <a href="/search?offset=1&&q={{search}}&&sc={{search_bar_category}}">다음</a>
        </div>
        {% elif offset == 9 %}
        <div class="lr_bar">
            <a href="/search?offset=8&&q={{search}}&&sc={{search_bar_category}}">이전</a>
        </div>
        {% elif offset <= 8 %}
        <div class="lr_bar">
            <a href="/search?offset={{offset|add:'-1'}}&&q={{search}}&&sc={{search_bar_category}}">이전</a>
            <a href="/search?offset={{offset|add:'1'}}&&q={{search}}&&sc={{search_bar_category}}">다음</a>
        </div>
        {% else %}
        {% endif %}
    </div>
    {% include "main/search_bar.html" %}
</div>
{% endblock content %}

<script>
