{% extends "main/main.html" %}

{% block static %}
<link rel="stylesheet" href="/static/css/search.css">
{% endblock static %}

{% block content %}
<section>
    
    <div class="container">
        <h1>{{spotipyDatas.tracks.items.0.name}}</h1>
    </div>
    
    <div class="container">
        <div class="artistImageSection">
            <img src="{{spotipyDatas.tracks.items.0.album.images.1.url}}">
        </div>
        <div class="resultSection">
            <div class="song-container">
                <img>
                <li>번호</li>
                <li>제목</li>
                <li>아티스트</li>
                <li>날짜</li>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="youtubeSection"></div>
    </div>

</section>
{% endblock content %}