{% extends "main/main.html" %}

{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock static %}

{% block content %}
<div class="wrapper">
    
    <div class="searchResult">
        <h1>{{search}}의 검색결과입니다.</h1>
    </div>
    
    {% for data in spotipyDatas.tracks.items %}

    <div class="container">
        <div class="inner">
            <div class="number">
                <span>{{ forloop.counter }}</span>
            </div>

            <div class="image">
                <a href="{% url 'main:result' data.id %}">
                    <img src="{{data.album.images.1.url}}">
                </a>
            </div>
            <div class="content">
                <div>
                    <a href="{% url 'main:result' data.id %}">
                        <span id="title">{{ data.album.name }}</span>
                    </a>
                </div>
                <div>
                    <span id="artist">{{ data.album.artists.0.name }}</span>
                </div>
                <div>
                    <span></span>
                </div>
            </div>
        </div>

        <div class="heart">
            🧡🤍
        </div>
    </div>

    {% endfor %}

</div>
{% endblock content %}

<script>
