{% extends "main/main.html" %}

{% block static %}
<link rel="stylesheet" href="/static/css/signup.css">
{% endblock %}

{% block title %}
<title>회원가입</title>
{% endblock %}

{% block content %}
{% if state == 0 %}
<div class="signup_wrapper">
    <header>
        <h1>환영합니다</h1>
    </header>
    <form method="post" action="{% url 'main:signup' %}">
        {% csrf_token %}
        <div class="email">
            <h1>Email</h1>
            <input id="email" name="email" type="text" placeholder="Email">
            <p></p>
        </div>
        <div class="password">
            <h1>Password</h1>
            <input id="password" name="password" type="password" placeholder="Password">
            <p></p>
        </div>
        <div class="confirmPassword">
            <h1>Confirm Password</h1>
            <input id="confirmPassword" type="password" placeholder="Confirm Password">
            <p></p>
        </div>
        <div class="name">
            <h1>User Name</h1>
            <input id="name" name="name"  type="text" placeholder="Name">
        </div>
        <div class="gender">
            <h1>성별</h1>
            <input type="radio" name="gender" value="male">남성  
            <input type="radio" name="gender" value="female">여성
        </div>
        <div class="genre">
            <h1>선호장르</h1>
            <select id="genre" name="genre">
                <option selected disabled>관심있는 음악을 선택하세요.</option>
                <option value="힙합">힙합</option>
                <option value="락">락</option>
                <option value="팝">팝</option>
            </select>
        </div>
    </form>
    <div class="signUp">
        <button id="signUpButton">가입하기</button>
        <p></p>
    </div>
</div>

<script src="/static/js/signup.js"></script>
{% elif state == 1 %}
<div class="signup_wrapper">
    <header>
        <h1>ActProject 회원가입이 완료되었습니다.</h1>
        <p>로그인이 완료되어야 서비스를 이용하실 수 있습니다.</p>
        <button>로그인페이지로 이동</button>
    </header>
</div>
{% elif state == 2 %}
<div class="signup_wrapper">
    <header>
        <h1>일시적인 오류가 발생했습니다.</h1>
    </header>
</div>
{% endif %}

{% endblock %}