{% extends "main/main.html" %}

{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static 'css/userinfo.css' %}">

{% endblock static %}

{% block content %}
<div>
    <div class="container">
        <div class="title">
            <h1>내 정보</h1>
        </div>
        <div class="item">
            <div>이름</div>
            <div>{{request.session.userName}}</div>
        </div>
        <div class="item">
            <div>이메일</div>
            <div>{{request.session.email}}</div>
        </div>
        <div class="item">
            <div>성별</div>
            <div>{{user.gender}}</div>
        </div>
        <div class="item">
            <div>선호장르</div>
            <div>{{user.genre}}</div>
        </div>

        <div class="button_div">
            <button onclick="checkPassword();">수정하기</button>
            <button onclick="checkPassword2();">탈퇴하기</button>
        </div>
        <div>
            <h1>선호 노래 목록</h1>
        </div>
        <div>
        </div>

        <form action="{% url 'main:changeInfo' %}" method="post"> 
            {% csrf_token %}
            <div name='modify_id'>
                <p></p>
            </div>
            <input type="hidden" value={{request.session.email}} name="email">
        </form>
        
        <form action="{% url 'main:deleteInfo' %}" method="post"> 
            {% csrf_token %}
            <div name='delete_id'>
                
            </div>
            <input type="hidden" value={{request.session.email}} name="email">
        </form>
        
    </div>
</div>

<script type="text/javascript" src="/static/js/password_check.js"></script>

{% endblock content %}