@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

html,body,div,span,
p,a,img,ol,ul,
li,form,label,table,
tr,th,td,
canvas,header,nav,section, footer{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    color: white;
    vertical-align: baseline;
}
.btn_act:hover {
    background-color: gray;
}
.btn_act:active {
    background-color: rgb(218, 216, 216);
}
body{
    background-color: rgb(31, 31, 31);
    padding: 0px 16.6vw 0px 16.6vw;
}

nav {
    height: 50px;
    background-color: rgb(31, 31, 31);

    font-family: "Noto Sans KR", sans-serif;
    color: white;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrapper{
    min-height: calc(100vh - 12.5vh);
}

.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search h1{
    font-size: 15px;
}

.search input[type=text] {
	width: 33.3vw;
    min-width: 350px;
	height: 40px;

    font-size: 18px;
    color: white;

    border-top: 1px;
    border-radius: 10px;
    background-color: rgb(31, 31, 31);
}
.search .search_btn {
	/* background-image: url("/static/imgs/btn_search.png"); */
    /* border: none; */
    background-color: rgb(31, 31, 31);
    width: 50px;
    height: 50px; 
    cursor: pointer;
    position: relative;
}
.search .search_btn > img  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    max-height: 50%;
}


footer {
    background-color: rgb(60, 60, 60);

    font-family: "Noto Sans KR", sans-serif;
    color: white;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 12.5vh;
}

hr {
    background-color: rgb(60, 60, 60);
}
#search_b {
    /* position: relative; */
    /* display : block; */
    max-width: 200px;
    min-width: 60px;
    margin: 0 auto;
    border-radius: 80px;
    border: 1px solid #ffffff;
    background-color: rgb(200, 200, 200);
    z-index: 10;
}

