@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

html,body,div,span,
p,a,img,ol,ul,
li,form,label,table,
tr,th,td,
canvas,header,nav,section, footer{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    color: white;
    vertical-align: baseline;
}

body{
    background-color: rgb(31, 31, 31);
    padding: 0px 16.6vw 0px 16.6vw;
}

nav {
    height: 50px;
    background-color: rgb(31, 31, 31);

    font-family: "Noto Sans KR", sans-serif;
    color: white;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrapper{
    min-height: calc(100vh - 12.5vh);
}

section{
    min-height: 500px;
    height: 80vh;
}

.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search h1{
    font-size: 15px;
}

.search input[type=text] {
	width: 33.3vw;
    min-width: 350px;
	height: 40px;

    font-size: 18px;
    color: white;

    border-top: 1px;
    border-radius: 10px;
    background-color: rgb(31, 31, 31);
}



footer {
    background-color: rgb(60, 60, 60);

    font-family: "Noto Sans KR", sans-serif;
    color: white;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 12.5vh;

    
}

hr {
    background-color: rgb(60, 60, 60);
}




